body {
    font: normal 20pt Arial;
    text-align: center;
    background-color: rgb(23, 161, 196);
    color: rgb(0, 0, 0);
    
}

main {
    
    margin: 40px auto;   
    background: white;
    width: 700px;
    padding: 10px;
    text-align: left;    
    border-radius: 10px;
    
}

    
    


