body {
    background: rgba(255, 192, 203, 0.63);
    text-align: center;
}

main {
    margin: 0 auto;
    background: white;
    padding: 5px;
    width: 600px;
    height: auto;
    line-height: 1.3;
    text-align: left;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);
    
}